:root {
    /* background */
    --primary-bg : #0c0202;
    --bg-gradient : linear-gradient(rgb(217, 41, 217) , rgb(91, 44, 91));

    /* text-color */
    --primary-color : rgb(25, 139, 238) ;
    --secondary-color : white ;
    --third-color : white ;

    /* font size */
    --font-size-xl : 3rem;
    --font-size-l : 2rem;
    --font-size-m : 1rem;
    --font-size-s : .5rem;

    /* padding */
    --padding-xl : 3rem;
    --padding-l : 2rem;
    --padding-m : 1rem;
    --padding-s : .5rem;

    /* margin */
    --margin-xl : 3rem;
    --margin-l : 2rem;
    --margin-m : 1rem;
    --margin-s : .5rem;

    /* box-shadow */
    --box-shadow-xl : 5px 5px 8px 3px darkmagenta;
    --box-shadow-l :  3px 3px 5px 1.5px darkmagenta;
    --box-shadow-m :  1px 1px 2px .5px darkmagenta;

    /* font-family */
    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

}